<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 카테고리 -->
    {% for category in categories %}
    <a href="{% url 'post:create' category.slug %}">{{ category.title }}</a>
    {% endfor %}
    <br>
    <!-- 로그인 상태 -->
    {% if request.user.is_authenticated %}
    nickname: {{ user }}
    <hr>
    <a href="#">마이페이지</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a><br>
    <!-- 로그아웃 상태 -->
    {% else %}
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}

    <hr>
    <a href="{% url 'accounts:my-blog' %}">내가 작성한 글</a>
    <a href="{% url 'accounts:my-scrap' %}">내가 스크랩한 글</a>
    <hr>

    {% for category, posts in category_posts.items %}
    <h2><a href="{% url 'post:create' category.slug %}">{{ category.title }}</a></h2>
    <!-- 카테고리에 해당하는 최신 글 리스트 -->
    {% for post in posts %}
        <a href="{% url 'post:detail' post.id %}"> {{ post.title }} </a><br>
    {% empty %}
    글이 없습니다.
    {% endfor %}
    {% endfor %}
    <br>
  </body>
</html>
